extends layout.pug
block content
    .main-content
      .container
        .row
          .col-lg-12.text-center
            h2.mt-5
              | IOTA 
              b M
              | asked 
              b A
              | uthenticated 
              b M
              | essaging
            p.lead Some Infos about us.
